@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  border-top: 8px solid #5386C1;
  padding: 65px 0;
  position: absolute;
}

header h1 {
  flex-basis: 20%;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

header h1 a {color: #fff;}
header nav {flex-basis: 16%;}

header nav ul {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: capitalize;
}

header ul li {margin-right: 10px;}
header ul li:last-child {margin-right: 0;}
header ul li a {color: #7F8082;}
header ul li a:hover {color: #fff;}





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner {
  width: 100%;
  height: auto;
  padding: 172px 0;
  background: url('https://via.placeholder.com/1517x418.png');
  text-align: center;
}

.banner .wrapper {width: 68%;}

.banner h2 {
  margin-bottom: 25px;
  color: #ECEFF2;
  letter-spacing: 1px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
}

.banner h2 span {text-transform: lowercase;}

.banner p {
  color: #B1A8A1;
  font-size: 12px;
}

.list-section .wrapper {
  width: 68%;
  padding: 80px 0;
}

.list-ul {
  width: 100%;
  display: flex;
}

.list-ul li:first-child {margin-left: 0;}
.list-ul li:last-child {border-right: none;}

.list-ul li {
  margin-left: 6%;
  flex-basis: 34%;
  border-right: 1px solid #E0E0E0;
}

.list-heading::first-letter {text-transform: capitalize;}

.list-heading {
  width: 76%;
  margin-bottom: 20px;
  color: #91B2D8;
  font-size: 18px;
  line-height: 25px;
}

.list-text {
  width: 85%;
  color: #E2E2E2;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
}

.list-btn {
  padding: 10px 20px;
  background-color: #5386C1;
  color: #fff;
  text-transform: capitalize;
}

.list-btn:hover {
  background-color: #E2E2E2;
  color: #5386C1;
}

.ipsum-section {background-color: #5386C1;}

.ipsum-section .wrapper {
  width: 68%;
  padding: 90px 0 105px;
}


.ipsum-section h2 {
  margin-bottom: 18px;
  color: #CCDAEC;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.ipsum-section p {
  margin-bottom: 45px;
  color: #B9CEE6;
  font-size: 15px;
  text-align: center;
}

.ipsum-section p::first-letter {text-transform: capitalize;}

.ipsum-ul {
  width: 100%;
  display: flex;
}

.ipsum-ul li:first-child {margin-left: 0;}

.ipsum-ul li {
  flex-basis: 22%;
  padding: 43px 0;
  margin-left: 4%;
  border: 1px solid #7AA1CF;
}

.ipsum-ul li figure {
  width: 58%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ipsum-ul li img {
  width: 100%;
  border-radius: 50%;
}

.ipsum-heading {
  margin-bottom: 10px;
  color: #F7FAFD;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.ipsum-text {
  color: #99B6DA;
  text-align: center;
  display: inherit;
}

.nunc-section .wrapper {
  width: 68%;
  padding: 96px 0 82px;
  border-bottom: 1px solid #E6E6E6;
}

.nunc-section h2 {
  color: #9FBBDC;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.nunc-section p {
  margin-bottom: 60px;
  color: #DBDBDB;
  text-align: center;
  font-size: 15px;
}

.nunc-ul {
  width: 100%;
  display: flex;
}

.nunc-ul li:first-child {margin-left: 0;}

.nunc-ul li {
  flex-basis: 50%;
  margin-left: 6%;
}

.nunc-ul figure {margin-bottom: 30px;}

.nunc-ul li p {
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
}



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper {
  width: 68%;
  padding: 38px 0 20px;
}

footer p {
  display: inline-block;
  color: #EAEAEA;
  font-size: 10px;
  text-transform: capitalize;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer li {flex-basis: 3%;}
footer li:last-child {flex-basis: 0;}
footer li a {text-indent: -9999px;}

footer li a::before {
  float: right;
  color: #5386C1;
  font-family: "FontAwesome";
  font-size: 15px;
  text-indent: 0;
}

.facebook::before {content: "\f09a";}
.twitter::before {content: "\f099";}
.linkedin::before {content: "\f0e1";}
.pinterest::before {content: "\f231";}
.vimeo::before {content: "\f27d";}






 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  